[project]
	description = Xamarin.iOS sample apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paranjay Ravi Menaria (pmenaria)
[access "refs/for/refs/*"]
	read = group user/Paranjay Ravi Menaria (pmenaria)
	push = group user/Paranjay Ravi Menaria (pmenaria)
	label-Code-Review = -2..+2 group user/Paranjay Ravi Menaria (pmenaria)
	label-Verified = -1..+1 group user/Paranjay Ravi Menaria (pmenaria)
	rebase = group user/Paranjay Ravi Menaria (pmenaria)
	removeReviewer = group user/Paranjay Ravi Menaria (pmenaria)
	submit = group user/Paranjay Ravi Menaria (pmenaria)
[access "refs/heads/*"]
	read = group user/Paranjay Ravi Menaria (pmenaria)
	create = group user/Paranjay Ravi Menaria (pmenaria)
	push = +force group user/Paranjay Ravi Menaria (pmenaria)
	pushMerge = group user/Paranjay Ravi Menaria (pmenaria)
[access "refs/tags/*"]
	push = +force group user/Paranjay Ravi Menaria (pmenaria)
	pushTag = group user/Paranjay Ravi Menaria (pmenaria)
	pushSignedTag = group user/Paranjay Ravi Menaria (pmenaria)
